[submodule "vendor/cocos-headers"]
	path = vendor/cocos-headers
	url = https://github.com/HJfod/cocos-headers
[submodule "vendor/gd.h"]
	path = vendor/gd.h
	url = https://github.com/poweredbypie/gd.h
[submodule "vendor/vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
